appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
lxml==4.6.3
more-itertools==8.8.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
PyPOM==2.2.0
pytest==5.1.1
pytest-splinter==3.3.1
requests==2.26.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
splinter==0.15.0
tqdm==4.62.0
urllib3==1.26.6
wcwidth==0.2.5
webdrivermanager==0.10.0
zope.component==5.0.1
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
